@model Pet

<form asp-action="New" asp-controller="Pet" method="POST" >
<div class="form-group">
<input type="hidden" name="IsEditMode" id="IsEditMode" value="@ViewBag.IsEditMode"/>

<input asp-for="Id" type="hidden">

<label asp-for="Name" ></label>
<input asp-for ="Name" class="form-control"/>
</div>

<div class="form-group">
<label asp-for="Age" ></label>
<input asp-for ="Age" class="form-control"/>
</div>

<div class="form-group">
<label asp-for="color" ></label>
<input asp-for ="color" class="form-control"/>
</div>

<div class="form-group">
<input type="submit" class="btn btn-primary" value="Save pet">
</div>

</form>