@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>@ViewBag.Message</h1>
<h2>@ViewBag.Message2</h2>
<h3>@ViewBag.Message3</h3>
